/*global*/
/*
*{
    border: 1px solid red;
}*/

body{
    background-color:beige;
    font-family: arial;
    font-family: "Palatino Linotype", "Book Antiqua", Georgia, serif;
}
a{
    color:black;
    text-decoration: none;
}

/* utilities */
.site-init{
    /*height: 10px;*/
}

.navigation-bar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px;
}

.nav-menu{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.nav-link{
    display: flex;
    gap: 8px;
}

/*main*/
img{
    max-width: 100%;
}

.dish-month-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.dish-month-img, .dish-month-text{
    width:50%;
    padding: 20px;
}

.dish-month-img img {
    width: 100%;
    display: block;
}

/* menu */
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.menu-table{    
    border-collapse:collapse;
    border-left: 1px solid red;
    border-right: 1px solid red;
}

td,th{
    border:1px solid rgb(217, 93, 93);
    border-left: 0;
    border-right: 0;
}

.menu-table th{
    width: 200px;
    height: 30px;
    
}

.menu-table td{
    padding:10px;
    text-align: center;

}

.healthy{
    font-weight: bold;
    color:green;
}
/*Togo Page*/
.checkout-page{
    display:flex;
}

