/*global*/
*{
    border: 1px solid red;
}

body{
    background-color:beige;
    font-family: arial;
}
a{
    color:black;
    text-decoration: none;
}
/* utilities */
.site-init{
    height: 150px;
}

.navigation-bar{
    display: flex;
    justify-content: space-around;
}


/*main*/
img{
    max-width: 100%;
}

.dish-month-container{
    display: flex;
    justify-content: space-between;
}
.dish-month-img{
    width:50%;
}
.dish-month-text{
    width:50%;

}

/* menu */
.menu-table,td,th{
    border:1px solid black;
    border-collapse: collapse;
}

.menu-table th{
    width: 200px;
    height: 30px;
    background-color: gray;
}

.menu-table td{
    padding:10px;
    text-align: center;
    background-color: white;
}

.failing{
    font-weight: bold;
    color:#951515;
}
/* header */

